a {
    color: #000000;
    text-decoration: none !important;
}

select[multiple] {
    height: 200px !important;
}

.pic {
    width: 120px;
    height: 120px;
}

.content {
    margin-top: 44px;
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
}

.nav-tabs {
    text-align: center;
}

.user-profile div.img-profile {
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.user-profile .img-profile {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* % of width, defines aspect ratio*/

    background: no-repeat center center;
    background-size: cover;
}

.user-profile .name {
    font-size: 20px;
}

.user-profile .club {
    font-size: 20px;
}

.tab-content {
    margin-top: 15px;
}