a {
    color: #000000;
    text-decoration: none !important;
}

select[multiple] {
    height: 200px !important;
}

.pic {
    width: 120px;
    height: 120px;
}

.content {
    margin-top: 44px;
}

.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
}

.nav-tabs {
    text-align: center;
}

.user-profile div.img-profile {
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.user-profile .img-profile {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* % of width, defines aspect ratio*/

    background: no-repeat center center;
    background-size: cover;
}

.user-profile .name {
    font-size: 20px;
}

.user-profile .club {
    font-size: 20px;
}

.tab-content {
    margin-top: 15px;
}

#autocomplete {
    margin-top: 7px;
    margin-bottom: 7px;
}

.autocomplete-suggestions {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px 0 ;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background: #FFF none;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #ba1209;
}

.autocomplete-group{
    padding-left: 2px;
}


@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body {
        padding: 0;
        margin: 0;
        width: 320px; }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        width: 495px;
    }
}